.menuBtn {
  display: none;
}

.nav-links {
  display: flex;
}
.nav-links > li {
  margin-right: 30px;
}

@media only screen and (max-width: 730px) {
  .menuBtn {
    display: block;
    position: relative;
  }
  .nav-links {
    flex-direction: column;
    display: none;
    align-items: start;
    padding: 10px;
    width: 100%;
    animation: slideDown ease-in-out;
    transition: all ease-in;
  }
  .nav-links > * {
    margin: 15px 0;
    width: 100%;
  }
  .menu-section {
    width: 100%;
    justify-content: space-between;
    padding: 10px;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-90%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
